
<!--Footer-->
<footer id="contact" class="page-footer default_color scrollspy">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <form class="col s12"  method="post">
          <div class="row">
            <div class="input-field col s6">
              <i class="mdi-action-account-circle prefix white-text"></i>
              <input id="icon_prefix" name="name" type="text" class="validate white-text">
              <label for="icon_prefix" class="white-text">First Name</label>
            </div>
            <div class="input-field col s6">
              <i class="mdi-communication-email prefix white-text"></i>
              <input id="icon_email" name="email" type="email" class="validate white-text">
              <label for="icon_email" class="white-text">Email</label>
            </div>
            <div class="input-field col s12">
              <i class="mdi-editor-mode-edit prefix white-text"></i>
              <textarea id="icon_prefix2" name="message" class="materialize-textarea white-text"></textarea>
              <label for="icon_prefix2" class="white-text">Message</label>
            </div>
            <div class="input-field col s12 center">
              <button class="btn waves-effect waves-light red darken-1" (click)="openModal()" type="submit">
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Contact</h5>
        <ul>

          <li><a class="white-text" href="mailto:a.vatsaev@gmail.com"> <i class="fa fa-envelope"></i> Email</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Social</h5>
        <ul>


          <li>
            <a class="white-text" rel="noopener noreferrer" target="_blank"  href="https://github.com/avatsaev">
              <i class="fa fa-github"></i> Github
            </a>
          </li>
          <li>
            <a class="white-text" rel="noopener noreferrer" target="_blank" href="https://www.linkedin.com/in/avatsaev">
              <i class="fa fa-linkedin-square "></i> Linkedin
            </a>
          </li>

          <li>
            <a class="white-text" rel="noopener noreferrer" target="_blank" href="https://www.linkedin.com/in/avatsaev">
              <i class="fa fa-twitter "></i> Twitter
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright default_color">
    <div class="container">
      @avatsaev 2017
    </div>
  </div>

  <div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
    <div class="modal-content">
      <h4>Sent</h4>
      <p>Your message was sent!</p>
    </div>
    <div class="modal-footer">
      <div class="row">
        <button class="btn modal-action modal-close waves-effect waves-green" (click)="closeModal()">OK</button>
      </div>

    </div>
  </div>
</footer>