<div class="nav inverted-background ">
    <div class="container">
        <div class="nav-left">
            <a class="nav-item">
                Project 1
            </a>
        </div>

        <div class="field has-addons projects-tab">
            <p class="control">
                <a class="button">

                    <span>Project2</span>
                </a>
            </p>
            <p class="control">
                <a class="button">

                    <span>Project3</span>
                </a>
            </p>
            <p class="control">
                <a class="button">

                    <span>Project5</span>
                </a>
            </p>
        </div>
    </div>

</div>